# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.runur.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jaspreet\Documents\GameJams\runur\.idea\.idea.runur\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
